#integraalpilt {
	width: 40%;
}

p {
   font-family: Bookman;
   font-size: 120%;
}

.vaike-p {
	font-size:80%;
}

body, html {
	margin: 0;
	padding: 0;
}

body {
   margin-bottom: 4em;
   background-color: #67BEB9;
}

header, footer {
   padding: 1em;
   background-color: #448F9F;
   text-align: center;
}

footer {
	margin-top: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}

#navbar {
	overflow: hidden;
	background-color: #00b7ba;
	position: sticky;
	top: 0;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #00b7ba;
   text-align: center;
}

li {
   display: inline-block;
}

li a {
   display: inline-block;
   padding: 1em;
   text-decoration: none;
   color: black;
}

li a:hover {
	background-color: #14aaad;
    color: #0f0f0f;
}

h1 {
   font-family: Bookman;
   font-size: 240%;
}

h2 {
	font-family: Bookman;
	font-size: 150%;
	margin-top: 50px;
}

#button-container {
	text-align:center;
	margin-top:50px;
}

#suvaline-nimekiri {
	margin: auto;
	width: 20%;
}

.main-text {
	margin: auto;
	width: 60%;
}
